
  <body>
  

    <div name="OrderList" id="divTable">
           
      <div style="margin-top: 30px; " *ngIf="productos.length==0" class="alert alert-info justify-content:center" role="alert">
        No existen productosregistradas
      </div>  

            <div >
            
                <input  [(ngModel)]="filtro"  type="text" class="forms-control" placeholder="Buscar por nombre" />
                <table class="table" >
                    <tr>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Precio
                        </th>    
                        <th>
                            Categoria
                        </th>                
                    </tr>
                    <tr *ngFor="let producto of productos| filter: filtro">
                        <td>
                            {{producto.nombre}}
                        </td>
                        <td>
                            {{producto.precio}}
                        </td>
                        <td>
                            {{producto.categoria}}
                        </td>
                    </tr>
                </table>
            </div>
    

  
  </div>
  
  <br/>
  </body>
